<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Inventory</title>
    <link rel="stylesheet" type="text/css" href="/css/inventory.css">
</head>

<body>
    <div class="header">
        <div class="leftHeader">
            
            <div class="title">
                    Car Inventory Management            
            </div>
                <div class="filters">
                    <form action="<%= `https://localhost:${PORT}/search-cars`%>" method="get">
                        <!-- <label for="filter">Choose filter:</label> -->
                        <select name="filter" class="selectFilters" id="filter">
                            <option value="brand">Brand</option>
                            <option value="model">Model</option>
                            <option value="type">Type</option>
                            <option value="fuel">Fuel</option>
                            <option value="mileage">Mileage</option>
                            <option value="price">Price</option>
                        </select>
                        <input type="text" id="searchInput" class="search-bar" name="userInput" placeholder="Search...">
                        <button type="submit" class="searchButton">Search</button>
                    </form>
                
                </div>
       
            </div>
        <form action="<%= `https://localhost:${PORT}/logout`%>" method="get">
            <button class="logout-btn" type="submit">Log Out</button>
        </form>
    </div>

    <div style="display: flex; flex-wrap: wrap;">

        <% cars.forEach(function(car, index) { %>
            <div class="car-tile">
                <img src="data:image/<%=car.img.contentType%>;base64,<%=car.img.data.toString('base64')%>"
                    style="width: 300px; height: 200px;" />
                <h3>
                    <%= car.brand %> - <%= car.model %>
                </h3>
                <p><b>Type: </b>
                    <%= car.type %>
                </p>
                <p><b>Fuel: </b>
                    <%= car.fuel %>
                </p>
                <p><b>Mileage: </b>
                    <%= car.mileage %>
                </p>
                <p><b>Price: </b>
                    <%= car.price %>
                </p>
                <!-- <form action="<%= `https://localhost:${PORT}/edit-car/${car._id}`%>" method="post">
                    <button>Edit</button>
                </form>
                <form action="<%= `https://localhost:${PORT}/delete-car/${car._id}`%>" method="post">
                    <button>Delete</button>
                </form> -->
            </div>
            <% if ((index + 1) % 4 === 0) { %>
                <div style="width: 100%;"></div> <!-- Add an empty div to break to the next row -->
            <% } %>
            <% }); %>
    </div>

</body>

</html>